.content {
    padding: 20px;
}
.container {
    padding-top: 20px;
    width: 100%;
    max-width: 500px;
}
.modelButton {
    width: 250px;
    position: relative;
}
.modelButtonIcon {
    position: absolute;
    right: 0;
}
