.content {
    padding: 20px;
}
.container {
    width: 100%;
    max-width: 500px;
}
.modelButton {
    width: 250px;
    position: relative;
}
.modelButtonIcon {
    position: absolute;
    right: 0;
}
.footer {
    position: fixed;
    bottom: 10px;
}
