.App {
  text-align: center;
  background: #3f51b580 radial-gradient(#cccccc, rgba(0,0,0,0.2));
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}
