$bar-height: 56px;

.Page {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
.withTopBar {
    padding-top: $bar-height;
}
.withBottomBar {
    padding-bottom: $bar-height;
}
