$videoSize: 224px;
.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video {
    border: 2px solid #cccccc;
    width: $videoSize;
    height: $videoSize;
}
